
name: docker12

on:
  push:
    paths:
      - docker/12/**

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/12
            docker build -t docker.pkg.github.com/anzerr/node/node:12 . &&
            docker push docker.pkg.github.com/anzerr/node/node:12
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/12
            docker build -t anzerr/node:12 . &&
            docker push anzerr/node:12
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/12/slim
            docker build -t docker.pkg.github.com/anzerr/node/node:slim-12 . &&
            docker push docker.pkg.github.com/anzerr/node/node:slim-12
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/12/slim
            docker build -t anzerr/node:slim-12 . &&
            docker push anzerr/node:slim-12