
name: docker6

on:
  push:
    paths:
      - docker/6/**

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/6
            docker build -t anzerr/node/node:6 . &&
            docker push anzerr/node/node:6
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/6
            docker build -t anzerr/node:6 . &&
            docker push anzerr/node:6
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/6/slim
            docker build -t anzerr/node/node:slim-6 . &&
            docker push anzerr/node/node:slim-6
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/6/slim
            docker build -t anzerr/node:slim-6 . &&
            docker push anzerr/node:slim-6