
name: docker9

on:
  push:
    paths:
      - docker/9/**

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/9
            docker build -t docker.pkg.github.com/anzerr/node.docker/node.docker:9 . &&
            docker push docker.pkg.github.com/anzerr/node.docker/node.docker:9
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/9
            docker build -t anzerr/node:9 . &&
            docker push anzerr/node:9
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/9/build
            docker build -t docker.pkg.github.com/anzerr/node.docker/node.docker:build-9 . &&
            docker push docker.pkg.github.com/anzerr/node.docker/node.docker:build-9
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/9/build
            docker build -t anzerr/node:build-9 . &&
            docker push anzerr/node:build-9
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/9/slim
            docker build -t docker.pkg.github.com/anzerr/node.docker/node.docker:slim-9 . &&
            docker push docker.pkg.github.com/anzerr/node.docker/node.docker:slim-9
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/9/slim
            docker build -t anzerr/node:slim-9 . &&
            docker push anzerr/node:slim-9