
name: docker11

on:
  push:
    paths:
      - docker/11/**

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/11
            docker build -t anzerr/node/node:11 . &&
            docker push anzerr/node/node:11
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/11
            docker build -t anzerr/node:11 . &&
            docker push anzerr/node:11
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/11/slim
            docker build -t anzerr/node/node:slim-11 . &&
            docker push anzerr/node/node:slim-11
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/11/slim
            docker build -t anzerr/node:slim-11 . &&
            docker push anzerr/node:slim-11