
name: docker8

on:
  push:
    paths:
      - docker/8/**

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/8
            docker build -t anzerr/node/node:8 . &&
            docker push anzerr/node/node:8
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/8
            docker build -t anzerr/node:8 . &&
            docker push anzerr/node:8
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          args: |
            cd docker/8/slim
            docker build -t anzerr/node/node:slim-8 . &&
            docker push anzerr/node/node:slim-8
      - uses: anzerr/docker.action@master
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          args: |
            cd docker/8/slim
            docker build -t anzerr/node:slim-8 . &&
            docker push anzerr/node:slim-8